*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100vh;
}
nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 15vh;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    cursor: pointer;
}
.left-nav {
    /* background-color: yellow; */
    font-size: 1.5vw;
    height: 6vh;
    overflow: hidden;
}
.left-nav:hover h1:nth-child(1) {
    margin-top: -5.5vh;

}
.left-nav h1 {
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
 }
 /* .left-nav:hover #logo{
    margin-top: -5.5vh;
 } */
  .right-nav {
    /* background-color: yellow; */
    font-size: 0.7vw;
    height: 3vh;
    overflow: hidden;
  }
  .right-nav:hover h2:nth-child(1) {
    margin-top: -2.6vh;

}
.right-nav h2 {
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
 }
 .part-1 {
    width: 100%;
    height: 100vh;
  
 }
.contetn-1{
    background-color: red;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotate-div {
    width: 150vw;
    height: 150vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
.row-div {
    display: flex;
    flex-direction: column;
    width: calc(150vw/5);
    height: 100%;
    gap: 1vw;

}
.img-div {
    width: 100%;
    height: calc(100%/4);
    /* background-color: red; */
    overflow: hidden;
    border-radius: 10px;

}
.img-div img {
    
    object-fit: cover;
    background-size: cover;
    background-position: center;


}