*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: red;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    cursor: pointer;
}
.left-nav {
    background-color: yellow;
    font-size: 2.9vw;
    height: 6vh;
    overflow: hidden;
}
.left-nav:hover h1:nth-child(1) {
    margin-top: -5.5vh;

}
.left-nav h1 {
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
 }
 /* .left-nav:hover #logo{
    margin-top: -5.5vh;
 } */
  .right-nav {
    background-color: yellow;
    font-size: 1.5vw;
    height: 3vh;
    overflow: hidden;
  }
  .right-nav:hover h2:nth-child(1) {
    margin-top: -2.6vh;

}
.right-nav h2 {
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
 }
